<!-- VIEW ITEM -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1642431332672329',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<br>
<div id="view_item" ng-controller="viewItemController" ng-init="getItem()">


<form ng-submit="submit('educational')" class="form-wrapper cf" >
    <input ng-model="search_query" name="search_query" type="text" placeholder="{{languages.search_here}}..." />
    <button type="submit"><li class="glyphicon glyphicon-search"></li>&nbsp;&nbsp;&nbsp;{{languages.search}}</button>
</form>

<div class="row">
	<div id="main_content" class="col-md-8" style="width:65% !important;">
        <div id="itemTitle" style="font-size:20px;text-align:left;color:#000;font-weight:600;">{{item_title}}</div>
        <ul><br>
			 <li><span class="labels">{{languages.description || 'Description' }}: </span> <br>
			 	{{item_description}}
			 	</li><br>
			 <li><span class="labels">{{languages.keywords || 'Keywords' }}: </span>
			 	<a ng-repeat="keys in item_keywords" href="#/educational/search/?q={{keys}}" >{{keys}}<span ng-show="$index != item_keywords.length-1">, </span> </a>
			 </li>
		</ul>
		
		<a class="btn2 btn btn-sm btn-default" href="javascript:history.back();" ><li class="glyphicon glyphicon-arrow-left"></li>&nbsp;&nbsp;&nbsp;{{languages.back_to_search}}</a>
		<a href="{{item_resource_url}}" class="btn2 btn btn-sm btn-default" target=_blank ><li class="glyphicon glyphicon-eye-open"></li>&nbsp;&nbsp;&nbsp;{{languages.access_the_resource || 'Access the resource' }}</a><br><br>
	</div>

	<div class="col-md-4 shadow-bot-edged" style="width:35% !important;background:transparent linear-gradient(rgb(212, 212, 181), rgb(112, 209, 181)) repeat scroll 0% 0%;border-radius:4px;padding-bottom:15px;margin-bottom:15px;">
		<table class="socialbuttonstable">
			<tr>
				<td>
					<a twitter  onclick="tweetPopup(this);" data-lang="en" data-count='horizontal' data-url="{{curr_url}}" data-via='#GLN' data-size="medium" data-text="{{item_title}}"></a>
				</td>
				<td style="padding-top:2px;">
					<a facebook-feed-share class="facebookShare" data-url="{{curr_url}}" data-shares='shares', data-name="{{item_title}}" data-description="{{item_description}}">{{ shares }}</a>
				</td>
			</tr>
		</table>   
    		

    	<table class="listingdetailstable">
		<tr>
			<td>
				<span class="labels">{{languages.organization || 'Organization' }}:</span>
			</td>
			<td>
				{{item_organization}}
			</td>
		</tr>

		<tr ng-show="item_language!=undefined">
			<td>
				<span class="labels">{{languages.language || 'Language' }}:</span>
			</td>
			<td>
				{{item_language}}
			</td>
		</tr>

		<tr ng-show="item_coverage!=undefined">
			<td>
				<span class="labels">{{languages.location || 'Location' }}:</span>
			</td>
			<td>
				 {{item_coverage}} 
			</td>
		</tr>

		<tr ng-show="item_resource_types.length > 0">
			<td>
				<span class="labels">{{languages.learningResourceTypes || 'Resource Type' }}:</span>
			</td>
			<td>
				<span ng-repeat="types in item_resource_types track by $index">{{types}} </span>
			</td>
		</tr>

		<tr>
			<td ng-show="item_roles.length > 0">
				<span class="labels">{{languages.key_audience || 'Key Audience' }}:</span>
			</td>
			<td>
				<span ng-repeat="roles in item_roles">{{roles}} </span>
			</td>
		</tr>

		<tr ng-show="item_context.length > 0">
			<td>
				<span class="labels">{{languages.context || 'Context' }}:</span>
			</td>
			<td>
				<span ng-repeat="context in item_context">{{context}} </span>
			</td>
		</tr>

		<tr ng-show="item_rights!=undefined">
			<td>
				<span class="labels">{{languages.copyrights || 'Rights' }}:</span>
			</td>
			<td>
				<a href="{{item_rights}}" target=_blank >{{item_rights}} </a>
			</td>
		</tr>
		</table>
	</div>	
</div>
</div>